body {
  background:#6F69AC;
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  color: white;
}
h1{
  text-align: center;
  font-size: 3rem;
}
